; Authentication method: LDAP | OIDC | LTI
Authentication="LDAP"

; LDAP config
LDAP_HOST="ldaps://..."
LDAP_BASE_DN="cn=...,ou=...,dc=..."
LDAP_BIND_PW="..."
LDAP_SEARCH_DN="ou=...,dc=..."

; Open Ai config
OPENAI_API_KEY="sk-..."
; GPT Model
GPT_MODEL="gpt-4-1106-preview"

; LTI config
LTI_CONSUMER_KEY="xxx"
LTI_CONSUMER_SECRET="xxx"

; Legal config
IMPRINT_LOCATION="https://my-univiersity.com/imprint"
PRIVACY_LOCATION="https://my-univiersity.com/ai-privacy-policy"

; Testuser accout
TESTUSER=false

; OpenID Connect configuration
; ID provider
OIDC_IDP="https://xxx"
; Client ID
OIDC_CLIENT_ID="xxx"
; Client secret
OIDC_CLIENT_SECRET="xxx"
;oidc logout uri
OIDC_LOGOUT=""

; Path to composer auoload file (without /vendor/autoload.php)
; normally set to "."
; is always in the same directory in Docker container
;COMPOSER_PATH="/composer/lib"

;Favicon
FAVICON_URI=""

; Chat Log
CHAT_LOG=false