<div class="page">
	<h1>Über GPTalk Hohenheim</h1>
	<p>Dieses Serviceangebot ist ein Projekt des KIM der Universität Hohenheim und soll Studierende und Lehrende der Universität die Möglichkeit geben, Erfahrungen mit künstlicher Intelligenz zu sammeln. </p><p>Es bietet ebenso einen virtuellen Begegnungsraum, in dem innovative Arbeitsansätze erprobt und eine campusweite Diskussion über die Anwendung von K.I. gefördert werden kann.</p><p> Didaktisch bietet GPTalk auch Hinweise und Anleitungen, um ein tieferes Verständnis für die Funktionsweise von Sprachmodellen zu entwickeln. Dazu enthält die Plattform in den verschiedenen Sektionen Tipps für effektive Prompts. </p>
	<p><a href="https://www.uni-hohenheim.de/einsatz-von-generativer-ki-in-pruefungen#c560357" target="_blank">Empfehlungen des Senats für den Einsatz künstlicher Intelligenz (KI) in Prüfungen</a></p>
	
	<p><i>GPTalk basiert auf der HAWKI-Technologie, einer Entwicklung der Hochschule für angewandte Wissenschaft und Kunst Hildesheim/Holzminden/Göttingen.</i></p>

</br></br></br>
<p>GPTalk Hohenheim ist ein Service des <a href="https://kim.uni-hohenheim.de" target="_blank">KIM </a> der Universität Hohenheim</p>    

</div>

<style>
.input-container{
	display: none;
}
</style>