<div class="limitations">

	<div>
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
				stroke="#FF5C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M12 8V12" stroke="#FF5C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M12 16H12.01" stroke="#FF5C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
		<h2>Limitationen</h2>
		<div>
			<div class="limitation-item">
				<strong>Unvollständig</strong><br>Generiert gelegentlich falsche Informationen.
			</div>
			<div class="limitation-item">
				<strong>Vorsicht</strong><br>Generiert gelegentlich gefährdende oder voreingenommene Informationen.
			</div>
			<div class="limitation-item">
				<strong>Wissen</strong><br>Das Sprachmodell greift ausschließlich auf Wissen bis zum April 2023 zu.
			</div>
			<div class="limitation-item">
				<strong>Funktionen</strong><br>Kein Internetzugang, keine Sprach- und Bildverarbeitung, keine
				Chathistorie.
			</div>
			<div class="limitation-item">
				<strong>Performance</strong><br>Keine Garantie auf Antworten, es kann zeitweise zu Timeouts von Seiten
				OpenAI kommen.
			</div>
		</div>
	</div>
</div>


<div class="message me" data-role="system">
	<div class="message-content">
		<div class="message-icon">System</div>
		<div class="message-text">You are a helpful assistant who works at the University of Applied Arts and Sciences
			in Lower Saxony.</div>
	</div>
</div>