<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Datenschutzerklärung</title>
	<style>
		@font-face {
			font-family: 'Fira Sans';
			src: url('/font/FiraSans-Regular.ttf') format('truetype');
			font-weight: 400;
			font-style: normal;
		}

		@font-face {
			font-family: 'Fira Sans';
			src: url('/font/FiraSans-Italic.ttf') format('truetype');
			font-weight: 400;
			font-style: italic;
		}

		@font-face {
			font-family: 'Fira Sans';
			src: url('/font/FiraSans-Bold.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
		}

		@font-face {
			font-family: 'Fira Sans';
			src: url('/font/FiraSans-BoldItalic.ttf') format('truetype');
			font-weight: bold;
			font-style: italic;
		}

		body {
			max-width: 80ch;
			margin: auto;
			padding: 10vmin;
			line-height: 1.75;
			font-family: 'Fira Sans', sans-serif;
			font-size: 1rem;
		}
	</style>
</head>

<body>
	<div class="privacy">
		<h1>Datenschutzerklärung zu GPTalk Hohenheim</h1>
		<p>Wenn Sie diesen Service nutzen, werden personenbezogene Daten verarbeitet. Personenbezogene Daten sind alle
			Informationen, die verwendet werden können, um Sie persönlich zu identifizieren. Wir nehmen den Schutz Ihrer
			persönlichen Daten sehr ernst. Ihre personenbezogenen Daten werden vertraulich behandelt entsprechend dieser
			Datenschutzerklärung sowie der gesetzlichen Datenschutzvorschriften. Diese Datenschutzerklärung klärt Sie
			über
			die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten innerhalb unseres Onlineangebotes
			auf. Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder „Verantwortlicher“
			verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).</p>

		<h2>Verantwortlich im datenschutzrechtlichen Sinne:</h2>
		<p>Universität Hohenheim<br>
			70593 Stuttgart<br>
			Telefon: +49 711 459 0<br>
			E-Mail:<a href="mailto:post@uni-hohenheim.de">post@uni-hohenheim.de</a><br>
			Internet: <a href="https://www.uni-hohenheim.de/">www.uni-hohenheim.de</a><br>
			Die Universität Hohenheim ist eine Körperschaft des öffentlichen Rechts. Sie wird gesetzlich vertreten durch
			den
			<a href="https://www.uni-hohenheim.de/organisation/person/prof-dr-sc-agr-stephan-dabbert"
				data-ss1697700223="1">Rektor Prof. Dr. Stephan Dabbert</a>.
		</p>

		<h2>Datenschutzbeauftragter der Universität Hohenheim:</h2>
		<p>UIMC Dr. Voßbein GmbH &amp; Co. KG<br>
			Dr. Heiko Haaz<br>
			Otto-Hausmann-Ring 113<br>
			42115 Wuppertal
			<br>
			E-Mail: <a href="mailto:datenschutz.uni-hohenheim@uimc.de">datenschutz.uni-hohenheim@uimc.de</a><br>




		<h2>Zugriffsdaten/Server-Log-Files</h2>
		<p>Wenn Sie unsere Seiten aufrufen, verarbeitet unser Webserver auf Grundlage von Art. 32 Abs. 1 lit. b)
			EU-DSGVO i.
			V. m. Art. 6 Abs. 1 lit. c) EU-DSGVO EU-DSGVO automatisch die Informationen, die Ihr Browser an uns
			übermittelt:
		</p>
		<ul>
			<li>Browsertyp und -sprache</li>
			<li>verwendetes Betriebssystem</li>
			<li>die von Ihnen zuletzt besuchte Seite (Referrer URL)</li>
			<li>Datum und Uhrzeit der Serveranfrage</li>
			<li>die übertragene Datenmenge und der Zugriffsstatus (Datei übertragen, Datei nicht gefunden etc.)</li>
			<li>IP-Adresse</li>
		</ul>
		<p>Diese Daten erheben und verwenden wir ausschließlich in nicht-personenbezogener Form, d. h. eine
			personenbezogene
			Auswertung findet nicht statt. Sie dienen vorrangig der Sicherheit und der Gewährleistung einer fehlerfreien
			Bereitstellung der Website und ferner zu statistischen Zwecken. Eine Zusammenführung dieser Daten mit
			anderen
			Datenquellen findet nicht statt. Diese Daten werden nach 8 Tagen automatisch gelöscht.</p>
		<h2>Zugangsdaten/Login</h2>
		<p>Die von Ihnen eingegebenen Zugangsdaten dienen lediglich der Überprüfung, ob Sie zugangsberechtigt sind. Ihre
			Daten werden nicht gespeichert, sondern direkt an das Identitätsmanagement weitergeleitet, das eine Prüfung
			vornimmt.</p>

		<h2>OpenAI/ChatGPT </h2>
		<p>Die "GPTalk Hohenheim"-App nutzt die API von OpenAI's ChatGPT, um einen Chatdienst für die Angehörigen der
			Universität Hohenheim zur Verfügung zu stellen. Es ist uns wichtig, darauf hinzuweisen, dass bei der Nutzung
			dieser API keine personenbezogenen Daten wie IP-Adressen oder Benutzerkennungen an OpenAI übermittelt
			werden.
			Lediglich der reine Gesprächsinhalt wird an ChatGPT übermittelt.</p>
		<p>Die Verläufe der Gespräche werden von der "GPTalk Hohenheim"-App lokal gespeichert. Diese Speicherung erfolgt
			nur
			für die Dauer des jeweiligen Gesprächs und ist aus funktionalen Gründen notwendig, um einen nahtlosen und
			konsistenten Chatverlauf gewährleisten zu können.</p>
		<p>OpenAI selbst speichert die Gesprächsverläufe nicht und verwendet sie auch nicht zu Trainingszwecken.</p>
		<h2>Session Cookies</h2>
		<p>Die Webseite verwendet ein sogenanntes Session Cookie. Session-Cookies sind kleine Informationseinheiten, die
			ein
			Webserver im Arbeitsspeicher des Computers des Besuchers speichert. In einem Session-Cookie wird eine
			zufällig
			erzeugte eindeutige Identifikationsnummer abgelegt, eine sogenannte Session-ID. Außerdem enthält ein Cookie
			die
			Angabe über seine Herkunft und die Speicherfrist. Diese Cookies können keine anderen Daten speichern. Das
			von
			uns eingesetzte Session-Cookie ist für die Funktion unserer Webseite notwendig, damit Ihr Browser auch nach
			einem Seitenwechsel wiedererkannt wird. Es wird automatisch gelöscht, wenn Sie sich von der Anwendung
			abmelden
			oder den Browser schließen. Session Cookies werden nicht zur Erstellung von Nutzerprofilen verwendet.</p>

		<h2>Ihre Rechte</h2>
		<p>In Artikel 15 ff der DSGVO sind Ihre Rechte aufgeführt.<br>
			Sie haben das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten
			über Sie gespeichert wurden und das Recht auf Berichtigung falscher Daten und auf die
			Verarbeitungseinschränkung
			oder Löschung Ihrer personenbezogenen Daten.<br>
			Wie aber oben dargestellt erheben wir außer den beschriebenen keine personenbezogenen Daten. </p>
	</div>
</body>

</html>